<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="mx-auto grid max-w-6xl grid-cols-2 gap-4 md:grid-cols-4 md:gap-8"
    >
      <a
        title="JavaScript"
        class="relative overflow-hidden rounded-3xl border border-outline-variant p-6 text-on-surface duration-100 hover:bg-primary-container hover:no-underline active:rounded-xl"
        href="/swiper-api"
        ><div class="flex items-center justify-center">
          <img
            src="/images/libs/js.svg"
            width="140"
            height="140"
            alt="JavaScript logo"
            title="JavaScript"
            loading="lazy"
            class="h-16 w-16 max-w-full object-contain sm:h-36 sm:w-36"
          />
        </div>
        <div class="mt-4 hidden text-center sm:block">
          <div class="font-bold">JavaScript</div>
        </div></a
      ><a
        title="React"
        class="relative overflow-hidden rounded-3xl border border-outline-variant p-6 text-on-surface duration-100 hover:bg-primary-container hover:no-underline active:rounded-xl"
        href="/react"
        ><div class="flex items-center justify-center">
          <img
            src="/images/libs/react.svg"
            width="140"
            height="140"
            alt="React logo"
            title="React"
            loading="lazy"
            class="h-16 w-16 max-w-full object-contain sm:h-36 sm:w-36"
          />
        </div>
        <div class="mt-4 hidden text-center sm:block">
          <div class="font-bold">React</div>
        </div></a
      ><a
        title="Vue.js"
        class="relative overflow-hidden rounded-3xl border border-outline-variant p-6 text-on-surface duration-100 hover:bg-primary-container hover:no-underline active:rounded-xl"
        href="/vue"
        ><div class="flex items-center justify-center">
          <img
            src="/images/libs/vue.svg"
            width="140"
            height="140"
            alt="Vue.js logo"
            title="Vue.js"
            loading="lazy"
            class="h-16 w-16 max-w-full object-contain sm:h-36 sm:w-36"
          />
        </div>
        <div class="mt-4 hidden text-center sm:block">
          <div class="font-bold">Vue.js</div>
        </div></a
      ><a
        title="WebComponents"
        class="relative overflow-hidden rounded-3xl border border-outline-variant p-6 text-on-surface duration-100 hover:bg-primary-container hover:no-underline active:rounded-xl"
        href="/element"
        ><div class="flex items-center justify-center">
          <img
            src="/images/libs/webcomponents.svg"
            width="140"
            height="140"
            alt="WebComponents logo"
            title="WebComponents"
            loading="lazy"
            class="h-16 w-16 max-w-full object-contain sm:h-36 sm:w-36"
          />
        </div>
        <div class="mt-4 hidden text-center sm:block">
          <div class="font-bold">WebComponents</div>
        </div></a
      >
    </div>
  </body>
</html>
